@import "variables";
@import "mixins";

body {
    font-family: 'Montserrat', sans-serif;

    p {
        font-family: 'Roboto', sans-serif;
        color: gray;
    }
}

.router-link-exact-active {
    color: $green !important;
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

hr {
    margin: 0px;
    height: 1px;
    border: none;
    color: #eeeeee;
    background-color: #eeeeee;
}

.front-hero {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 230px);
    grid-template-areas: "hero hero hero hero hero hero hero hero hero hero";

    // max-height: 920px;
    // background-image: url(../img/hero.png);
    // background-repeat: no-repeat;
    img {
        width: 100%;
        height: 100%;
        grid-column: 1 / 11;
        grid-row: 1 / 5;
        // grid-area: hero;
        object-fit: cover;

        @include tablet-portrait {
            grid-row: 1 / 3;
        }
    }

    button {
        grid-row: 4 / 5;
        grid-column: 8 / 9;
        width: 300px;
        height: 60px;
        background-color: $light-grey;

        @include tablet-portrait {
            grid-row: 2;
        }

        @include tablet-landscape {
            grid-row: 3;
        }
        @include phone {
            grid-column: 5;
        }
    }

    @include phone {
        // display: none;
    }

    @include tablet-portrait {
        grid-template-rows: repeat(2, 230px);
    }

    @include tablet-landscape {
        grid-template-rows: repeat(3, 230px);
    }

}

.tabs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 40px 20px 50px;
    grid-template-areas: ". . . . . . . . . . "". hr hr hr hr hr hr hr hr ."". tabs tabs tabs tabs tabs tabs tabs tabs .";

    hr {
        grid-area: hr;
    }

    ul {
        // grid-column-start: 3;    
        // grid-column-end: 9;
        // grid-row-start: 1;
        // grid-row-end: 1;
        grid-area: tabs;
        list-style: none;
        display: inline;
        padding-left: 0px;

        li {
            display: inline;
        }

        a {
            color: $grey;
            padding-right: 50px;
            text-decoration: none;
            display: inline;
            // float: left !important;
        }
    }

    @include phone {
        display: none;
    }

    @include tablet-portrait {
        display: none;
    }


}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-template-rows: repeat(5, 1fr) 40px;
    grid-template-rows: auto;
    grid-gap: 20px;

    .item {
        -webkit-transition: box-shadow .2s ease-out;
        -moz-transition: box-shadow .2s ease-out;
        -o-transition: box-shadow .2s ease-out;
        transition: box-shadow .2s ease-out;
        position: relative;
    }

    .product-hover {
        opacity: 0;
        width: 100%;
        height: auto;
        background-color: #fff;
        position: absolute;
        visibility: hidden;
        text-align: center;

        .hover-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .cirle-icon {
            margin-right: 10px;
            border-radius: 50px;
            background-color: $dark;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &:hover {
                background-color: $green;
            }

            i {
                color: #fff;
                margin-top: 4px;
            }
        }
    }

    .item:hover .product-hover {
        opacity: 1;
        visibility: visible;
        box-shadow: 0px 10px 20px #0000001f;
        -webkit-transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out;
    }

    .item1 {
        grid-column: 2 / 4;
        grid-row: 1 / 3;

        @include tablet-landscape {
            grid-column: 2 / 6;
        }

        @include tablet-portrait {
            grid-column: 2 / 6;

        }

        @include phone {
            grid-column: 2 / 10;
            grid-row: 1;
        }
    }

    .item2 {
        grid-column: 4 / 6;
        grid-row: 1 / 3;

        @include tablet-landscape {
            grid-column: 6 / 10;
        }

        @include tablet-portrait {
            grid-column: 6 / 10;

        }

        @include phone {
            grid-column: 2 / 10;
            grid-row: 2;
        }

    }

    .item3 {
        grid-column: 6 / 10;
        grid-row: 1 / 4;

        @include tablet-landscape {
            grid-column: 2 / 10;
            grid-row: 3 / 4;
        }

        @include tablet-portrait {
            grid-column: 2 / 10;
            grid-row: 3 / 4;

        }

        @include phone {
            grid-column: 2 / 10;
            grid-row: 3;
        }
    }

    .item4 {
        grid-column: 2 / 6;
        grid-row: 3 / 6;

        @include tablet-landscape {
            grid-column: 2 / 10;
            grid-row: 5 / 6;
        }

        @include tablet-portrait {
            grid-column: 2 / 10;
            grid-row: 5 / 6;

        }

        @include phone {
            grid-row: 4;
            grid-column: 2 / 10;
        }
    }

    .item5 {
        grid-column: 6 / 8;
        grid-row: 4 / 6;

        @include tablet-landscape {
            grid-column: 2 / 6;
            grid-row: 4 / 5;
        }

        @include tablet-portrait {
            grid-column: 2 / 6;
            grid-row: 4 / 5;

        }

        @include phone {
            grid-row: 5;
            grid-column: 2 / 10;
        }
    }

    .item6 {
        grid-column: 8 / 10;
        grid-row: 4 / 6;

        @include tablet-landscape {
            grid-column: 6 / 10;
            grid-row: 4 / 5;
        }

        @include tablet-portrait {
            grid-column: 6 / 10;
            grid-row: 4 / 5;

        }

        @include phone {
            grid-row: 6;
            grid-column: 2 / 10;
        }
    }

    .product {
        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }

        &:hover {
            box-shadow: 0px 10px 20px #0000001f;
        }
    }

    hr {
        grid-column: 2 / 10;
        grid-row: 6/7;
        margin-top: 40px;
    }
}

.lookBook {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;

    .btn-lookbook {
        width: 150px;
        height: 55px;
        font-size: 16px;
        float: right;
        background-color: $light-grey;

        @include phone {
            float: none;
        }
    }

    h2 {
        margin-top: 0px;
    }

    .mens,
    .womens,
    .your {
        grid-column: 1 / 5;
        background-color: $light-grey;
        display: flex;
        flex-direction: row;
        text-align: end;

        @include tablet-landscape {
            grid-column: 2 / 12;
            grid-row: auto;
        }

        @include tablet-portrait {
            grid-column: 2 / 12;
            grid-row: auto;
        }

        @include phone {
            grid-column: 2 / 12;
            grid-row: auto;
            flex-direction: column;
        }

        .lookbook-text {
            padding: 50px;

            @include phone {
                text-align: center;
            }

            p {
                @include phone {
                    display: none;
                }
            }

        }

        img {
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start !important;

            @include phone {
                object-fit: contain;
            }
        }
    }

    .womens {
        grid-column: 5 / 9;

        @include tablet-landscape {
            grid-column: 2 / 12;
            grid-row: auto;
        }

        @include tablet-portrait {
            grid-column: 2 / 12;
            grid-row: auto;
        }

        @include phone {
            grid-column: 2 / 12;
            grid-row: auto;
        }
    }

    .your {
        grid-column: 9 / 13;

        @include tablet-landscape {
            grid-column: 2 / 12;
            grid-row: auto;
        }

        @include tablet-portrait {
            grid-column: 2 / 12;
            grid-row: auto;
        }

        @include phone {
            display: none;
        }
    }
}