.product-details {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 60px;

    .product-left {
        grid-column: 3 / 6;

        img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }


    .product-right {
        grid-column: 6 / 9;

        .review-share {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .price {
            display: flex;
            
            .strike {
                margin-right: 10px;
            }
        }

    }
}