body {
  font-family: 'Montserrat', sans-serif; }
  body p {
    font-family: 'Roboto', sans-serif;
    color: gray; }

.router-link-exact-active {
  color: #00c8c8 !important; }

hr {
  margin: 0px;
  height: 1px;
  border: none;
  color: #eeeeee;
  background-color: #eeeeee; }

.front-hero {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 230px);
  grid-template-areas: "hero hero hero hero hero hero hero hero hero hero"; }
  .front-hero img {
    width: 100%;
    height: 100%;
    grid-column: 1 / 11;
    grid-row: 1 / 5;
    object-fit: cover; }
    @media (max-width: 768px) {
      .front-hero img {
        grid-row: 1 / 3; } }
  .front-hero button {
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    width: 300px;
    height: 60px;
    background-color: #f8f8f8; }
    @media (max-width: 768px) {
      .front-hero button {
        grid-row: 2; } }
    @media (min-width: 769px) and (max-width: 1024px) {
      .front-hero button {
        grid-row: 3; } }
    @media (max-width: 480px) {
      .front-hero button {
        grid-column: 5; } }
  @media (max-width: 768px) {
    .front-hero {
      grid-template-rows: repeat(2, 230px); } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .front-hero {
      grid-template-rows: repeat(3, 230px); } }

.tabs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px 20px 50px;
  grid-template-areas: ". . . . . . . . . . " ". hr hr hr hr hr hr hr hr ." ". tabs tabs tabs tabs tabs tabs tabs tabs ."; }
  .tabs hr {
    grid-area: hr; }
  .tabs ul {
    grid-area: tabs;
    list-style: none;
    display: inline;
    padding-left: 0px; }
    .tabs ul li {
      display: inline; }
    .tabs ul a {
      color: #727272;
      padding-right: 50px;
      text-decoration: none;
      display: inline; }
  @media (max-width: 480px) {
    .tabs {
      display: none; } }
  @media (max-width: 768px) {
    .tabs {
      display: none; } }

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px; }
  .products .item {
    -webkit-transition: box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    -o-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    position: relative; }
  .products .product-hover {
    opacity: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    visibility: hidden;
    text-align: center; }
    .products .product-hover .hover-icons {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
    .products .product-hover .cirle-icon {
      margin-right: 10px;
      border-radius: 50px;
      background-color: #333333;
      width: 25px;
      height: 25px;
      cursor: pointer; }
      .products .product-hover .cirle-icon:hover {
        background-color: #00c8c8; }
      .products .product-hover .cirle-icon i {
        color: #fff;
        margin-top: 4px; }
  .products .item:hover .product-hover {
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 10px 20px #0000001f;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out; }
  .products .item1 {
    grid-column: 2 / 4;
    grid-row: 1 / 3; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .products .item1 {
        grid-column: 2 / 6; } }
    @media (max-width: 768px) {
      .products .item1 {
        grid-column: 2 / 6; } }
    @media (max-width: 480px) {
      .products .item1 {
        grid-column: 2 / 10;
        grid-row: 1; } }
  .products .item2 {
    grid-column: 4 / 6;
    grid-row: 1 / 3; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .products .item2 {
        grid-column: 6 / 10; } }
    @media (max-width: 768px) {
      .products .item2 {
        grid-column: 6 / 10; } }
    @media (max-width: 480px) {
      .products .item2 {
        grid-column: 2 / 10;
        grid-row: 2; } }
  .products .item3 {
    grid-column: 6 / 10;
    grid-row: 1 / 4; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .products .item3 {
        grid-column: 2 / 10;
        grid-row: 3 / 4; } }
    @media (max-width: 768px) {
      .products .item3 {
        grid-column: 2 / 10;
        grid-row: 3 / 4; } }
    @media (max-width: 480px) {
      .products .item3 {
        grid-column: 2 / 10;
        grid-row: 3; } }
  .products .item4 {
    grid-column: 2 / 6;
    grid-row: 3 / 6; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .products .item4 {
        grid-column: 2 / 10;
        grid-row: 5 / 6; } }
    @media (max-width: 768px) {
      .products .item4 {
        grid-column: 2 / 10;
        grid-row: 5 / 6; } }
    @media (max-width: 480px) {
      .products .item4 {
        grid-row: 4;
        grid-column: 2 / 10; } }
  .products .item5 {
    grid-column: 6 / 8;
    grid-row: 4 / 6; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .products .item5 {
        grid-column: 2 / 6;
        grid-row: 4 / 5; } }
    @media (max-width: 768px) {
      .products .item5 {
        grid-column: 2 / 6;
        grid-row: 4 / 5; } }
    @media (max-width: 480px) {
      .products .item5 {
        grid-row: 5;
        grid-column: 2 / 10; } }
  .products .item6 {
    grid-column: 8 / 10;
    grid-row: 4 / 6; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .products .item6 {
        grid-column: 6 / 10;
        grid-row: 4 / 5; } }
    @media (max-width: 768px) {
      .products .item6 {
        grid-column: 6 / 10;
        grid-row: 4 / 5; } }
    @media (max-width: 480px) {
      .products .item6 {
        grid-row: 6;
        grid-column: 2 / 10; } }
  .products .product img {
    width: 100%;
    object-fit: cover; }
  .products .product:hover {
    box-shadow: 0px 10px 20px #0000001f; }
  .products hr {
    grid-column: 2 / 10;
    grid-row: 6/7;
    margin-top: 40px; }

.lookBook {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px; }
  .lookBook .btn-lookbook {
    width: 150px;
    height: 55px;
    font-size: 16px;
    float: right;
    background-color: #f8f8f8; }
    @media (max-width: 480px) {
      .lookBook .btn-lookbook {
        float: none; } }
  .lookBook h2 {
    margin-top: 0px; }
  .lookBook .mens,
  .lookBook .womens,
  .lookBook .your {
    grid-column: 1 / 5;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    text-align: end; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .lookBook .mens,
      .lookBook .womens,
      .lookBook .your {
        grid-column: 2 / 12;
        grid-row: auto; } }
    @media (max-width: 768px) {
      .lookBook .mens,
      .lookBook .womens,
      .lookBook .your {
        grid-column: 2 / 12;
        grid-row: auto; } }
    @media (max-width: 480px) {
      .lookBook .mens,
      .lookBook .womens,
      .lookBook .your {
        grid-column: 2 / 12;
        grid-row: auto;
        flex-direction: column; } }
    .lookBook .mens .lookbook-text,
    .lookBook .womens .lookbook-text,
    .lookBook .your .lookbook-text {
      padding: 50px; }
      @media (max-width: 480px) {
        .lookBook .mens .lookbook-text,
        .lookBook .womens .lookbook-text,
        .lookBook .your .lookbook-text {
          text-align: center; } }
      @media (max-width: 480px) {
        .lookBook .mens .lookbook-text p,
        .lookBook .womens .lookbook-text p,
        .lookBook .your .lookbook-text p {
          display: none; } }
    .lookBook .mens img,
    .lookBook .womens img,
    .lookBook .your img {
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important; }
      @media (max-width: 480px) {
        .lookBook .mens img,
        .lookBook .womens img,
        .lookBook .your img {
          object-fit: contain; } }
  .lookBook .womens {
    grid-column: 5 / 9; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .lookBook .womens {
        grid-column: 2 / 12;
        grid-row: auto; } }
    @media (max-width: 768px) {
      .lookBook .womens {
        grid-column: 2 / 12;
        grid-row: auto; } }
    @media (max-width: 480px) {
      .lookBook .womens {
        grid-column: 2 / 12;
        grid-row: auto; } }
  .lookBook .your {
    grid-column: 9 / 13; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .lookBook .your {
        grid-column: 2 / 12;
        grid-row: auto; } }
    @media (max-width: 768px) {
      .lookBook .your {
        grid-column: 2 / 12;
        grid-row: auto; } }
    @media (max-width: 480px) {
      .lookBook .your {
        display: none; } }
